@use "../abstracts";

.checkout {
    &-detail {
        margin-top: 30px;
    }
    &__content {
        margin-top: 30px;
    }
    &__breadcrumbs {
        background: var(--breadcrumbs-checkout-bg);
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px 10px var(--cart-info-shadow-bg);
    background: var(--cart-info-bg-color);
    @include abstracts.breakpoint(md) {
        padding: 16px;
    }
    &__list {
        margin-top: -30px;
        @include abstracts.breakpoint(md) {
            margin-top: -16px;
        }
    }
    &__item {
        padding: 30px 0;
        gap: 30px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--cart-item-border-color);
        @include abstracts.breakpoint(md) {
            gap: 16px;
            align-items: flex-start;
            padding: 16px 0;
            &:last-child {
                border: none;
            }
        }
    }
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41; /* 141.667% */
        @include abstracts.breakpoint(md) {
            font-size: 2.1rem;
        }
        @include abstracts.breakpoint(sm) {
            font-size: 1.6rem;
        }
    }
    &__sub-heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45; /* 145.455% */
    }

    &__img {
        width: 175px;
        height: 175px;
        object-fit: contain;
        @include abstracts.breakpoint(xxl) {
            width: 150px;
            height: 150px;
        }
        @include abstracts.breakpoint(lg) {
            width: 100px;
            height: 100px;
        }
        @include abstracts.breakpoint(md) {
            width: 60px;
            height: 60px;
        }
    }
    &__title {
        max-width: 375px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }
    &__price {
        margin: 16px 0;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }
    &__status {
        color: #67b044;
    }
    &__input {
        display: flex;
        gap: 20px;
        @include abstracts.breakpoint(md) {
            width: 123px;
            flex-direction: column;
        }
        &-btn {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46; /* 146.667% */
        }
        &--gap {
            gap: 30px;
        }
    }
    &__input-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
    }
    &__wrap {
        flex: 1;
        display: flex;
        @include abstracts.breakpoint(md) {
            flex-direction: column;
            gap: 16px;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: auto;
        @include abstracts.breakpoint(md) {
            text-align: left;
            margin-left: 0;
        }
    }
    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */
    }
    &__btn-wrap {
        gap: 30px;
        display: flex;
        margin-top: auto;
        @include abstracts.breakpoint(md) {
            margin-top: 13px;
        }
    }
    &__btn {
        color: var(--cart-info-btn-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        gap: 10px;
        display: flex;
        align-items: center;
        height: 44px;
    }
    &__bottom {
        margin-top: 30px;
        &-continue {
            height: 100%;
            display: flex;
            align-items: flex-end;
        }
        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 26px; /* 144.444% */
        }
        &-link:hover &-icon {
            translate: -5px;
        }
        &-icon {
            rotate: 90deg;
            transition: translate 0.15s;
        }
        &-btn {
            margin-left: auto;
            padding: 0 40px;
            height: 68px;
        }
    }
    &__separate {
        margin: 30px 0;
        height: 1px;
        width: 100%;
        background: var(--cart-info-separate);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.4; /* 144.444% */
        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }
    &__row-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 30px;
    }
    &__link {
        font-size: 1.8rem;
        margin-top: 30px;
        width: 100%;
    }

    &__gift {
        &-thumb {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 76px;
            height: 76px;
            flex-shrink: 0;
            border-radius: 14px;
            background: var(--cart-info-gift-bg-color);
        }
        &-icon {
            width: 56px;
        }
        &-title {
            font-size: 1.8rem;

            font-weight: 500;
            line-height: 1.44; /* 144.444% */
        }
        &-desc {
            margin-top: 10px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.42; /* 142.857% */
        }
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__sub-title {
        margin-bottom: 30px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }
    &__checkout-btn {
        font-size: 1.8rem;
        margin-top: auto;
    }
}
.cart-info + .cart-info {
    margin-top: 30px;
}
.checkout.footer {
    margin-top: 40px;
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstracts.breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title,
    &__btn {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        @include abstracts.breakpoint(sm) {
            font-size: 1.6rem;
        }
    }
    &__btn {
        @include abstracts.breakpoint(md) {
            margin-top: 16px;
        }
    }
    &__desc {
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46; /* 146.667% */
        @include abstracts.breakpoint(sm) {
            font-size: 1.4rem;
        }
    }
}

.card-address {
    margin-top: 30px;
    &__item {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        @include abstracts.breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__left {
        gap: 16px;
        display: flex;
    }
    &__name {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        @include abstracts.breakpoint(sm) {
            font-size: 1.6rem;
        }
    }
    &__address {
        width: min(550px, 90%);
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46; /* 146.667% */
        @include abstracts.breakpoint(sm) {
            font-size: 1.4rem;
        }
    }
    &__list {
        padding-left: 6px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42; /* 142.857% */
        list-style: disc inside;
        margin-top: 20px;
        display: flex;
        gap: 30px;
    }
    &__right {
        display: flex;
        @include abstracts.breakpoint(md) {
            margin-top: 16px;
        }
    }
    &__edit {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.44; /* 144.444% */
        gap: 10px;
        align-items: center;
        display: flex;
        align-self: flex-end;
        &--inital {
            align-self: initial;
        }
    }
    &__input {
        appearance: none;
        &::before {
            content: url(../icons/unchecked.svg);
            filter: var(--icon-color);
        }
        &:checked::before {
            content: url(../icons/checked.svg);
            filter: none;
        }
        &:checked ~ .payment__free {
            color: inherit;
        }
    }
}

.shipping__coutinue {
    display: flex;
    align-items: center;
}

.payment {
    &__item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: var(--payment-item-bg-color);
        border-radius: 20px;
        &-name {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44; /* 144.444% */
        }
        &-link {
            color: #77dae6;
        }
        &-desc {
            margin-top: 5px;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.46; /* 146.667% */
            &--blur {
                color: #9e9da8;
            }
        }
    }
    &__item-info {
        display: flex;
        gap: 20px;
    }
    &__item-sub-heading {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    &__item + &__item {
        margin-top: 30px;
    }
    &__checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 14px;
    }
    &__free {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        color: #9e9da8;
    }
    &__thumb-img {
        width: 70px;
        height: 54px;
        object-fit: cover;
    }
}
