@use "../abstracts";

.home {
    padding-top: 40px;
    padding-bottom: 70px;
    @include abstracts.breakpoint(md) {
        margin-top: 30px;
    }
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41; /* 141.667% */
        @include abstracts.breakpoint(md) {
            font-size: 2.2rem;
        }
    }
    &__cate {
        --grid-gutter-x: 51px;
        @include abstracts.breakpoint(xl) {
            --grid-gutter-x: 30px;
        }
        @include abstracts.breakpoint(md) {
            row-gap: 20px;
        }
    }
    &__row {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
