// Filter button
@use "../abstracts";
.filter-btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background: var(--filter-btn-bg-color);
    border-radius: 6px;

    &__text {
        margin-right: 14px;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.42; /* 142.857% */
        color: var(--filter-btn-text-color);
    }
}

// Like Button

.like-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--like-btn-bg-color);
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) &__img-liked {
        display: none;
    }
    &--liked &__img {
        display: none;
    }
    &__img-liked {
        margin-top: 9px;
    }
}

// btn
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 20px;
    background: #f8f8fb;
    white-space: nowrap;
    user-select: none;
    & + .btn {
        &:not(.btn-no-margin) {
            margin-left: 20px;
        }
    }
    &--text {
        background: transparent;
    }
    &--primary {
        background: #ffb700;
    }
    &--outline {
        border: 1px solid #d2d1d6;
        background: transparent;
    }
    &--rounded {
        border-radius: 99px;
    }
    &--small {
        height: 35px;
        padding: 0 16px;
    }
    &:hover {
        opacity: 0.8;
    }
    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
