@use "../abstracts";

.form {
    &__group {
        margin-top: 30px;
        @include abstracts.breakpoint(md) {
            margin-top: 20px;
        }
        &-inline {
            display: flex;
            align-items: center;
        }
        &:has(:invalid):has(.form__input:not(:placeholder-shown)) {
            .form__text-input {
                border-color: red;
                background: rgba($color: red, $alpha: 0.1);
            }
            .form__input-img {
                display: none;
            }
            .form__warning,
            .form__warning-text {
                animation: shake 0.4s;
                display: block;
            }
        }
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__row {
        gap: 30px;
        display: flex;
        > * {
            flex: 1;
        }
        @include abstracts.breakpoint(sm) {
            flex-direction: column;
            gap: 0;
        }
    }
    &__text-area-input,
    &__text-input {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        &:focus-within {
            border-color: #0071dc !important;
        }
    }
    &__text-input {
        position: relative;
        padding: 0 12px;
        height: 48px;
        @include abstracts.breakpoint(sm) {
            height: 35px;
        }
    }
    &__text-area {
        height: 100px;
    }
    &__text-area-input {
        padding: 12px;
        resize: none;
    }
    &__text-area-input,
    &__input {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        width: 100%;
        height: 100%;
        @include abstracts.breakpoint(md) {
            font-size: 1.6rem;
        }
        &::placeholder {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44; /* 144.444% */
            color: #d2d1d6;
            @include abstracts.breakpoint(md) {
                font-size: 1.6rem;
            }
        }
        &-img {
            margin-left: 12px;
            width: 24px;
            object-fit: cover;
        }
    }
    &__warning-text {
        display: none;
        margin-top: 10px;
        color: red;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__warning {
        display: none;
    }
    &__pull-right {
        margin-left: auto;
    }
    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        & [type="checkbox"]:checked ~ &-label::before {
            background: #ffb700;
            border-color: #ffb700;
        }
        & [type="checkbox"]:checked ~ &-label::after {
            position: absolute;
            top: 6px;
            left: 3px;
            rotate: -45deg;
            width: 12px;
            height: 6px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }
        &-label {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46; /* 146.667% */
            color: #9e9da8;
            &::after,
            &::before {
                content: "";
                display: inline-block;
            }
            &::before {
                margin-right: 10px;
                width: 18.5px;
                height: 18.5px;
                border: 1.5px solid #9e9da8;
                border-radius: 5px;
            }
        }
    }
    &__recovery {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        color: #0071dc;
    }
    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45; /* 145.455% */
        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 1.42;
        }
    }
    &__slider {
        margin: 30px 0;
        position: relative;
        width: 100%;
        height: 2px;
        background: #d2d1d6;
    }
    &__slider::before,
    &__slider::after {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        display: inline-block;
        content: "";
        width: 22px;
        height: 22px;
        border: 6px solid #ffb700;
        border-radius: 50%;

        background: var(--filter-form-bg-color);
    }
    &__slider::after {
        left: var(--min-value);
    }
    &__slider::before {
        left: var(--max-value);
    }
    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }
    &__select {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        @include abstracts.breakpoint(xl) {
            flex: 1;
        }
    }
    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }
    &__tags {
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        @include abstracts.breakpoint(sm) {
            gap: 9px;
        }
    }
    &__tag {
        padding: 6px 12px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        color: #9e9da8;
        background: var(--form-tag-bg-color);
        border-radius: 6px;
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }
    &__input:focus ~ &__select-dialog {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }
    &__select-dialog {
        visibility: hidden;
        opacity: 0;
        bottom: 52px;
        z-index: 1;
        position: absolute;
        left: 14px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        &.show {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        height: 38px;
        padding: 0 20px;
        border-bottom: 1px solid #ccc;
        &-icon {
            width: 16px;
        }
    }
    &__dialog-input {
        font-size: 1.6rem;
        font-weight: 500;
    }
    &__dialog-list {
        max-height: 250px;
        overflow-y: auto;
    }

    &__dialog-item {
        padding: 10px 20px;
        font-size: 1.6rem;
        font-weight: 400;
        &:hover {
            background: #ccc;
        }
        &--select {
            background: #ffb700;
            font-weight: 500;
        }
    }
}
