@use "../abstracts";

%fill-screen {
    position: fixed;
    inset: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: opacity, visibility;
    transition-duration: 0.2s;
    @extend %fill-screen;
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &--small &__content {
        --modal-width: 400px;
    }
    &--large &__content {
        --modal-width: 1100px;
    }
    &__content {
        width: min(var(--modal-width, 800px), 100% - 40px);

        padding: 30px 10px 30px 30px;
        background: var(--dialog--bg-color);
        border-radius: 20px;
        box-shadow: 0px 20px 60px 10px var(--dialog-shadow-color);
        position: relative;
        z-index: 1;
        @include abstracts.breakpoint(sm) {
            padding: 20px 0 20px 20px;
        }
        &-inline {
            padding-right: 20px;
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }
    }
    &__heading {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 1.8rem;
        font-weight: 500;
    }
    &__overlay {
        @extend %fill-screen;
        background: rgba($color: #000000, $alpha: 0.4);
    }
    &__bottom {
        padding-right: 20px;
        flex-wrap: wrap;
        display: flex;
        margin-top: 30px;
        justify-content: flex-end;
    }
    &__btn {
        white-space: nowrap;
        @include abstracts.breakpoint(md) {
            flex: 1;
        }
    }
}
