@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7404%) hue-rotate(355deg)
        brightness(119%) contrast(100%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-action-group-bg-color: #292e39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.2);
    --top-action-group-separate: #ededf6;
    @include abstracts.breakpoint(lg) {
        --header-bg-color: #171c28;
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header
    --act-dropdown-bg-color: #292e39;
    --act-dropdown-arrow-top-color: brightness(0) saturate(100%) invert(16%) sepia(10%) saturate(1113%)
        hue-rotate(183deg) brightness(94%) contrast(92%);
    --act-dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --cart-pre-item-bg-color: #171c28;
    --cart-pre-item-border-color: #171c28;
    --act-dropdown-bot-border-color: #171c28;

    //dropdown
    --dropdown-bg-color: #363c4a;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-icon-color: brightness(0) saturate(100%) invert(18%) sepia(41%) saturate(291%) hue-rotate(183deg)
        brightness(102%) contrast(87%);
    --top-menu-border-color: #171c28;
    --nav-bg-tablet-color: #292e39;
    --nav-show-shadow-color: rgba(23, 28, 40, 0.4);

    // Browser catelogy
    --cate-item-bg-color: #171c28;
    --cate-heading-color: #fff;
    --cate-item-thumb-bg-color: #292e39;
    // BTN
    --btn-text-color: #1a162e;
    // Filter Btn
    --filter-btn-bg-color: #171c28;
    --filter-btn-text-color: #ffffff;

    // Like Btn
    --like-btn-bg-color: #292e39;

    // Product Item
    --product-item-bg-color: #171c28;
    --product-item-shadow-color: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg-color: #292e39;
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --filter-arrow-color: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(1374%) hue-rotate(183deg)
        brightness(97%) contrast(85%);

    // Footer

    --footer-bg-color: #171c28;

    // Sign Up
    --auth-intro-bg-color: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-content-bg-color: #292e39;

    // form
    --form-tag-bg-color: #292e39;

    // Product detail
    --product-detail-bg-color: #292e39;
    --prod-content-info-bg: #171c28;
    --prod-content-info-shadow: rgba(23, 28, 40, 0.2);
    --prod-info-bg: #171c28;
    --prod-review-bg-color: #171c28;

    // Breadcrumbs
    --breadcrumbs-bg-color: #171c28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    // checkout
    --breadcrumbs-checkout-bg: #171c28;
    --cart-info-bg-color: #171c28;
    --cart-info-shadow-bg: rgba(23, 28, 40, 0.2);
    --cart-item-border-color: #292e39;
    --cart-info-btn-color: #b9babe;
    --cart-info-separate: #292e39;
    --cart-info-gift-bg-color: #292e39;

    // dialog
    --dialog--bg-color: #363c4a;
    --dialog-shadow-color: rgba(23, 28, 40, 0.4);
}
