@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(56%) saturate(1502%) hue-rotate(225deg) brightness(93%)
        contrast(93%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-group-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.2);
    --top-action-group-separate: #ededf6;
    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Header
    --act-dropdown-bg-color: #fff;
    --act-dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --cart-pre-item-bg-color: #fff;
    --cart-pre-item-border-color: #ebebeb;
    --act-dropdown-bot-border-color: #d2d1d6;
    //dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    --nav-bg-tablet-color: #fff;
    --nav-show-shadow-color: rgba(200, 200, 200, 0.4);

    // Browser catelogy
    --cate-item-bg-color: #eee;
    --cate-heading-color: #000;
    --cate-item-thumb-bg-color: #fff;
    @include abstracts.breakpoint(md) {
        --cate-item-bg-color: #fff;
    }
    // BTN
    --btn-text-color: #fff;
    // Filter Btn
    --filter-btn-bg-color: #fff;
    --filter-btn-text-color: #6c6c72;

    // Product Item
    --product-item-bg-color: #fff;
    --product-item-shadow-color: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg-color: #fff;
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);

    // Footer

    --footer-bg-color: #eee;

    // Sign Up
    --auth-intro-text-color: #1a162e;
    --auth-content-bg-color: #fff;

    // form

    --form-tag-bg-color: #f8f8fb;

    // Product detail
    --product-detail-bg-color: #fff;
    --prod-info-bg: #f6f6f6;
    --prod-review-bg-color: #fafafd;
    @include abstracts.breakpoint(md) {
        --product-detail-bg-color: #fafafd;
        --prod-info-bg: #fff;
        --prod-review-bg-color: #fff;
    }
    --prod-content-info-bg: #fff;
    --prod-content-info-shadow: rgba(237, 237, 246, 0.2);

    // Breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);
    @include abstracts.breakpoint(md) {
        --breadcrumbs-bg-color: #fff;
    }

    // checkout
    --breadcrumbs-checkout-bg: #fff;
    --cart-info-bg-color: #fff;
    --cart-info-shadow-bg: rgba(237, 237, 246, 0.2);
    --cart-item-border-color: #d2d1d6;
    --cart-info-btn-color: #9e9da8;
    --cart-info-separate: #d2d1d6;
    --cart-info-gift-bg-color: rgba(118, 68, 225, 0.1);

    // dialog
    --dialog--bg-color: #fff;
    --dialog-shadow-color: rgba(237, 237, 246, 0.2);
}
