@use "../abstracts";

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--body-bg);
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 99999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
button,
input,
textarea {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
.icon {
    filter: var(--icon-color);
}
// Custom scrollbar

::-webkit-scrollbar {
    border-radius: 0;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.5);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.container {
    @include abstracts.breakpoint(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
