<div class="container">
    <div class="footer__section-wrap">
        <div class="footer__row-top">
            <div class="footer__top-left">
                <!-- Logo -->
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <div class="footer__input">
                    <input class="footer__input-mail" type="email" placeholder="Enter your email ... " />
                    <button class="btn btn--primary footer__btn-cta">Send</button>
                </div>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure quaerat corporis assumenda, nulla
                    in laboriosam blanditiis corrupti vel possimus.
                </p>
            </div>
            <div class="footer__top-right">
                <div class="footer__row">
                    <!-- Footer col 1 -->
                    <div class="footer__col">
                        <h3 class="footer__heading">About</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Product Demo</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Reviews</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Comfy 101</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Showrooms</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Press</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Designers</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Footer col 2 -->
                    <div class="footer__col">
                        <h3 class="footer__heading">Company</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Customer service</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Terms of Use</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Privacy</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Careers</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">About</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Affiliates</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Footer col 3 -->
                    <div class="footer__col">
                        <h3 class="footer__heading">Support</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Store locates</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#!">Order status</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Footer col 4 -->
                    <div class="footer__col">
                        <h3 class="footer__heading">Contact</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <span class="footer__label">Email</span>
                                <a class="footer__link footer__cta" href="mailto:contact@grocerymart.com">
                                    contact@grocerymart.com
                                </a>
                            </li>
                            <li class="footer__item">
                                <span class="footer__label">Phone</span>
                                <a class="footer__link footer__cta" href="tel:+8412314234">(+84) 12314234 </a>
                            </li>
                            <li class="footer__item">
                                <span class="footer__label"> Address </span>
                                <p class="footer__link">
                                    No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City.
                                    Hanoi
                                </p>
                            </li>
                            <li class="footer__item">
                                <span class="footer__label"> Hours </span>
                                <p class="footer__link">M - F 08:00am - 06:00pm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__row-bot">
            <p class="footer__desc">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img class="footer__social-icons" src="./assets/icons/fb.svg" alt="" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img class="footer__social-icons" src="./assets/icons/in.svg" alt="" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img class="footer__social-icons" src="./assets/icons/twiter.svg" alt="" />
                </a>
                <a href="#!" class="footer__social-link">
                    <img class="footer__social-icons" src="./assets/icons/yt.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
